# Сборка и временные файлы
out/
build/
Build/
build-*/
bin/
obj/
.vs/
.cmake/
CMakeFiles/
Testing/
.cache/

# Компилируемые файлы
*.pdb
*.obj
*.o
*.res
*.log
*.ilk
*.so
*.dylib
*.dll
*.slo
*.lo
*.gch
*.pch
*.dwo
*.mod
*.smod
*.a
*.lib
*.exe
*.out
*.app

# Файлы CMake и прочее
CMakeCache.txt
cmake_install.cmake
Makefile
install_manifest.txt
compile_commands.json
*.tmp
*.bak
*.swp
*.d

# Дамп
dump/

# Vcpkg
vcpkg_installed/